@font-face {
  font-family: "FontA";
  src: url("../res/Fonts/NeueMontreal-Regular.otf");
}
@font-face {
  font-family: "FontB";
  src: url("../res/Fonts/FontB.ttf");
}
$primary-col: #ffffff;
$secondary-col: #121117;
$accent-col: #2a25f3;
$heading-col: #2a25f3;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background-color: $accent-col;
  color: $primary-col;
}
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $accent-col;
  color: $primary-col;
  z-index: 9999;

  p {
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "FontB";
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 20px;
  }
}
// .custom__cursor__inner {
//   height: 10px;
//   width: 10px;
//   position: fixed;
//   transform: translate(0px, 0px);
//   background-color: $accent-col;
//   border-radius: 50%;
//   transition: height 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96),
//     width 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
//   z-index: 5000;
//   pointer-events: none;
// }

// .custom__cursor__outer {
//   border-radius: 50%;
//   position: fixed;
//   z-index: 5000;
//   transform: translate(0px, 0px);
//   pointer-events: none;
// background-color: $accent-col;
//   border: 1.5rem solid #fff;
//   -webkit-filter: blur(115px);
//   filter: blur(115px);
//   height: 300px;
//   transition: transform 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33),
//     opacity 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33),
//     background 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33);
//   -webkit-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   width: 300px;
// }

.wrapper {
  max-width: 1300px;
  width: 100%;
  align-items: center;
  margin: 0em auto;
}

body {
  color: $secondary-col;
  font-family: "FontB";
  overflow-x: hidden;
}

.logo {
  width: 120px;
  height: auto;
}

.yellow {
  color: $heading-col;
}

.primary-button {
  color: $primary-col;
  background-color: $accent-col;
  font-size: 14px;
  font-weight: bolder;
  font-family: "FontB";
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding: 1.2em 2.6em;
  border-radius: 40px;
  box-shadow: 0px 10px 30px 2px rgba(77, 49, 0, 0.15);
}

.primary-button:hover {
  transition: 300ms ease-out;
  background-color: #25D366;
  color: $primary-col;
}

.secondary-button {
  color: $heading-col;
  font-family: "FontB";
  font-size: 18px;
  font-weight: 600;
}
.secondary-button span{
  padding: 1.2em 2.6em;
}

.teritary-button {
  background-color: $primary-col;
  color: $accent-col;
  font-family: "FontB";
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding: 1.2em 2.6em;
  border-radius: 40px;
  box-shadow: 0px 10px 30px 2px rgba(77, 49, 0, 0.15);
}

.fa-linkedin-in,
.fa-github,
.fa-behance {
  transform: scale(1.2);
}

.fa-envelope {
  border-radius: 50%;
  padding: 1em;
  color: $primary-col;
  transform: scale(1.5);
  background-color: $accent-col;
}

.fa-envelope:hover {
  transition: 300ms ease-out;
  background-color: $secondary-col;
  color: $primary-col;
}

.fa-brands:hover {
  transition: 300ms ease-out;
  color: $accent-col;
}
.hero-section {
  grid-column-gap: 40px;
  grid-row-gap: 25px;
  flex-flow: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-left: 20px;
}

.uxrishu-img {
  width: 360px;
  height: 360px;
  object-fit: cover;
}
#myImg {
  width: 220px;
  height: 220px;
}
// .service-box-1 {
//   border: 2px rgba(74, 0, 224, 0.13) solid;
//   background: #fee7fe;
// }
// .service-box-2 {
//   border: 2px rgba(74, 0, 224, 0.13) solid;
//   background: #f1efe1;

//   display: flex;
//   flex-direction: column-reverse;
//   flex-flow: column-reverse;
// }
// .service-box-3 {
//   border: 2px rgba(74, 0, 224, 0.13) solid;
//   background: #d4effa;
// }

// .service-box {
//   border-radius: 30px;
//   border-width: 2px;

//   img {
//     object-fit: contain;
//     width: auto;
//   }
// }

.service-subtitle {
  font-size: 18px;
  line-height: 26px;
  font-family: "FontB";
}

.heading {
  font-size: 30px;
  line-height: 38px;
  font-family: "FontA";
}
.box {
  width: auto;
  height: auto;
  padding: 6px 15px;
  border-radius: 70px;
  border: 1px #2a25f3 solid;
  background: #eaeafe;
  color: $accent-col;
}
.icons {
  background-color: #2825f37e;
  color: $secondary-col;
}

.line {
  padding: 1px;
  background-color: $accent-col;
}

.last-cta-card {
  height: 450px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 40px;
}

@media only screen and (min-width: 768px) {
  .last-cta-card {
    background-image: url("../res/images/Last\ CTA.png");

    .cta-detail {
      position: absolute;
      top: 25px;
      left: 50px;
      right: 25px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .last-cta-card {
    background-image: url("../res/images/Last\ CTA\ mobile.png");
    width: 96%;
    margin: 0 auto;
    .cta-detail {
      position: absolute;
      top: 10px;
      left: 20px;
    }
  }
}
.dot {
  width: 4px;
  height: 4px;
  background-color: $secondary-col;
  opacity: 0.4;
  border-radius: 50%;
}

.problem-solved {
  background-color: #9af8ae;
  color: #064614;
  border-radius: 0 0 100px 0;
}

// Typography

.big-title {
  font-size: 56px;
  line-height: 70px;
  font-family: "FontA";
}

.title {
  font-size: 26px;
  line-height: 38px;
  font-family: "FontA";
}

.subtitle {
  font-size: 20px;
  line-height: 38px;
  font-family: "FontB";
}

.tags {
  font-size: 14px;
  font-family: "FontB";
  text-transform: uppercase;
  padding: 0.4em 1.2em;
  background-color: $accent-col;
  color: $primary-col;
  display: inline;
  border-radius: 24px;
}
.caption {
  font-size: 16px;
  letter-spacing: 0.8px;
  font-family: "FontB";
  text-transform: uppercase;
}
.accent-col {
  color: $accent-col;
}

.show-at-small {
  display: none;

  .small-box {
    background-color: rgba(32, 32, 184, 0.145);
  }
}

#uparrow {
  display: none;
  text-decoration: none;
  position: fixed;
  z-index: 999;
  top: 88%;
  right: 10%;
  width: 48px;
  height: 48px;
  padding-top: 12px;
  background-color: $primary-col;
  opacity: 0.7;
  border: 1px solid $secondary-col;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $secondary-col;
}

@media only screen and (max-width: 930px) {
  .big-title {
    font-size: 42px;
    line-height: 56px;
  }

  .title {
    font-size: 20px;
    line-height: 32px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 32px;
  }
  .tags {
    font-size: 10px;
    padding: 0.4em 1.2em;
  }
  .caption {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    word-spacing: 4px;
  }
  #uparrow {
    display: block;
  }
}

@media only screen and (max-width: 640px) {
  .uxrishu-img {
    width: 140px;
    height: 140px;
  }

  .big-title {
    font-size: 38px;
    line-height: 50px;
  }

  #footer .footer-logo {
    display: none;
  }

  .custom__cursor__inner,
  .custom__cursor__outer {
    display: none;
  }

  .prototype {
    display: none;
  }

  .show-at-small {
    display: block;

    .small-box {
      background-color: rgba(32, 32, 184, 0.145);
    }
  }
}

@media only screen and (max-width: 320px) {
  .big-title {
    font-size: 26px;
    line-height: 40px;
  }

  .name {
    font-size: 16px;
  }
}

.mobile-menu {
  color: $secondary-col;
}

.mobile-nav-items li {
  margin-top: 1em;
}

// Client Logo Slider
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}
.slider {
  margin: 0.6em auto;
  overflow: hidden;
  position: relative;
  width: auto;
  .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 24);
    align-items: center;
  }
  .slide {
    width: 240px;
    height: auto;
    margin: 0em 2.5em;
  }
}
